__pycache__/
/data/*
!/data/README.md
!/data/ta_feng/
/data/ta_feng/*
!/data/ta_feng/.gitkeep

/trained/
/eval
path
path_for_metric
hlu.txt
r@n.txt

tmp/
tmp*/
tmp.*
tmp*.*
*tmp*
*.tmp
*.output

*.png
.*
.python-version
.ipynb_checkpoints

!output.png
!.gitignore
